header{
    background-color: $verdeSmoke;
    nav{
        div{
            ul{
                li{
                    margin: 5px;
                    a{
                        color:$cremaSmoke !important;
                    }
                }
            }
        }
    }
}